.olControlLayerSwitcher{
top:0px !important;
background:#d7d7d7 !important;
position:relative !important;
display:block !important;
color:black !important;
font-weight:normal !important;
font-size:medium !important;
margin:0px !important;
}

.olControlLayerSwitcher .layersDiv{
background-color:#d7d7d7 !important;
padding:0px !important;
}

.baseLbl{
display: none !important;
}

.baseLayersDiv{
padding: 0px !important;
position: -3px !important;
}


