body{
width:100%;
margin:0px;
font-family: sans-serif;
background: #fff;
}

a, h1, h2{
color: #377BA8;
}

h1, h2{
font-family: 'Georgia', serif;
margin: 0;
}

h1{
border-bottom: 2px solid #eee;
}

h2{
font-size: 1.2em; 
}



.page{
margin: 2em auto;
width: 35em;
border: 5px solid #ccc;
padding: 0.8em;
background: white;
}

.entries{
list-style: none;
margin: 0;
padding: 0;
}

.entries li{
margin: 0.8em 1.2em;
}

.entries li h2{
margin-left: -1em;
}

.add-entry{
font-size: 0.9em;
border-bottom: 1px solid #ccc;
}

.add-entry dl{
font-weight: bold;
}

.user_block{
float:left;
vertical-align:center;
padding:6px;
}

.masthead{
height:140px;
width:70%;
margin:auto;
padding:35px;
}

.logo{
margin:auto;
}

.lnav{
background:#efefef;
float:left;
display:block;
border:1px solid #000000;
}

.lnav_list{
padding:0;
margin:0;
display:inline;
}

.lnav_item{
display:inline;
list-style-type:none;
}

.lnav a, .lnav a:visited{
width:40px;
border:none;
text-decoration:none;
}

.rnav{
background:#efefef;
float:right;
display:block;
border:1px solid #000000;
}

.rnav_list{
padding:0;
margin:0;
display:inline;
}

.cur_page{
display:inline;
list-style-type:none;
padding:5px;
font-weight:bold;
}

.nav_item{
display:inline;
list-style-type:none;
}

.rnav a, .rnav a:visited{
width:40px;
border:none;
text-decoration:none;
}

.tnavwrapper{
position: relative;
top: 20px;
background: #8e8e8e;
height:31px;
width:100%; 
}  

.tnav{
width:60%;
margin: auto;
}

.tnav a{
padding:6px;
text-decoration:none;
display:block;
color:#fff;
float:right;
border:0px;
border-radius:5px;
}

.tnav a:hover{
background:#8e8eff;
}

.pagecontainer{
width:70%;
min-height:740px;
margin:auto;
padding:8px;
position:relative;

}

.bnavwrapper{
position: float;
height:150px;
width:100%;
background:#3f3f3f
}

.bnav{
width:75%;
margin:auto;
}

.bnav_col{
float:left;
height:150px;
width:21%;
font-size:small;
}

.bnav_list{
list-style-type:none;
padding:0;
margin-left:0;
}

.bnav_header{
display:block;
color:#fff;
margin:3px;
font-weight:bold;
}

.bnav_item{
display:inline;
color:#fff;
text-decoration:none;
margin:7px;
padding:5px;
}


.flash{
background: #CEE5F5;
padding: 0.5em;
border: 1px solid #AACBE2;
position:relative;
top:30px;
display:block;
}

.error{
background: #F0D6D6;
padding: 0.5em;
}

.coords{
color:blue;
font-weight:bold;
}



#map-container{
width:900px;
height:600px;
}


