body{
width:100%;
margin:0px;
font-family: sans-serif;
background: #fff;
}

a, h1, h2{
color: #377BA8;
}

h1, h2{
font-family: 'Georgia', serif;
margin: 0;
}

h1{
border-bottom: 2px solid #eee;
}

h2{
font-size: 1.2em; 
}

.page{
margin: 2em auto;
width: 35em;
border: 5px solid #ccc;
padding: 0.8em;
background: white;
}

.entries{
list-style: none;
margin: 0;
padding: 0;
}

.entries li{
margin: 0.8em 1.2em;
}

.entries li h2{
margin-left: -1em;
}

.add-entry{
font-size: 0.9em;
border-bottom: 1px solid #ccc;
}

.add-entry dl{
font-weight: bold;
}

.user_block{
float:left;
vertical-align:center;
padding:6px;
}

.masthead{
width:100%;
height:100px;
margin:auto;
display:block;
text-align:center;
margin-left:auto;
margin-right:auto;
position:relative;
}

#toggle-rpanel-on{
position: absolute;
right: 0px;
}

#toggle-rpanel-off{
position: absolute;
right: 300px;
}

.toggle-rpanel{
width: 15px;
top: 80px;
height: 80%;
z-index:1002;
background: red;
min-height: 600px;
}


.rpanel{
position: absolute;
width: 300px;
right: 0px;
top: 80px;
height: 80%;
z-index: 1003;
background: blue;
min-height: 600px;
}

.logo{
margin:auto;
position:relative;
}

.lnav{
background:#efefef;
float:left;
display:block;
border:1px solid #000000;
position: absolute;
bottom: 0;
}

.lnav_list{
padding:0;
margin:0;
display:inline;
}

.lnav_item{
display:inline;
list-style-type:none;
}

.lnav a, .lnav a:visited{
width:40px;
border:none;
text-decoration:none;
}

.rnav{
background:#efefef;
float:right;
display:block;
border:1px solid #000000;
position: absolute;
bottom: 0;
right: 0;
}

.rnav_list{
padding:0;
margin:0;
display:inline;
}

.cur_page{
display:inline;
list-style-type:none;
padding:5px;
font-weight:bold;
}

.nav_item{
display:inline;
list-style-type:none;
}

.rnav a, .rnav a:visited{
width:40px;
border:none;
text-decoration:none;
}

.tnavwrapper{
position:absolute;
background: #8e8e8e;
height:31px;
width:100%;
top:35;
z-index:0;
}  

.tnav{
width:60%;
margin: auto;
}

.tnav a{
padding:6px;
text-decoration:none;
display:block;
color:#fff;
float:right;
border:0px;
border-radius:5px;
}

.tnav a:hover{
background:#8e8eff;
}

.pagecontainer{
width:100%;
height:90%;
position:absolute;
top:100px;
}

.bnavwrapper{
position: float;
height:150px;
width:100%;
background:#3f3f3f
}

.bnav{
width:75%;
margin:auto;
}

.bnav_col{
float:left;
height:150px;
width:21%;
font-size:small;
}

.bnav_list{
list-style-type:none;
padding:0;
margin-left:0;
}

.bnav_header{
display:block;
color:#fff;
margin:3px;
font-weight:bold;
}

.bnav_item{
display:inline;
color:#fff;
text-decoration:none;
margin:7px;
padding:5px;
}


.flash{
background: #CEE5F5;
padding: 0.5em;
border: 1px solid #AACBE2;
position:relative;
top:30px;
display:block;
}

.error{
background: #F0D6D6;
padding: 0.5em;
}

.upper-display{
display: block;
width: 100%;
position: relative;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.coords{
color:blue;
font-weight:bold
display: inline;
}

.slider-info{
//background: #CEE5F5;
float: left;
}

.slider-item{
font-weight:bold;
width: 350px;
float: left;
margin: 0.5em;
padding: 0.5em;
}

.map-sidepanel-container{
width:50%;
min-height:100%;
//background:#125655;
display: block;
float:left;
position:relative;
}

.map-sidepanel{
display:block;
margin-left: auto;
margin-right: auto;
width:90%;
height:100%;
background:#8e8e8e;
position:relative;
float:right;
}

.map-sidepanel-one
{
width: 100%;
height: 40%;
position: relative;
display: block;
}
.map-sidepanel-two
{
width: 100%;
height: 50%;
position: relative;
display: block;
}
.map-sidepanel-three
{
display: block;
width: 100%;
}

.sidepanel-two-input
{
display: block;
margin-right: auto;
margin-left: auto;
}

.bottom-panel
{
display: block;
margin-top:3%;
width: 100%;
height: 20%;
position:relative;
float:left;

}

.coords-display
{
}

.map-controller
{
height:40%;
display: block;
position: relative;
}

#money-info{
font-weight:normal;
}

#hours-info{
font-weight:normal;
}

#map-container{
//position: absolute;
//top:0%;
//left:0px;
width: 100%;
height: 100%;
min-height:680px;
z-index:0;
}

#map-wrapper{
position: absolute;
top:0%;
left:0px;
width:100%;
height:100%;
z-index:0;
}


