<script src="{{ url_for('static', filename='js/jquery-1.10.1.min.js') }}"></script>
<script>

$(document).ready(function(){
  $(".nav_item").hover(
    function()
    {
        $(this).css("background-color","yellow");
    } ,
    function()
    {
        $(this).css("background-color","white");
    });
});

</script>

<!doctype html>
<title>guifi.us</title>

{% block head %}
{% endblock %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=tnavwrapper>
<div class=tnav>

<div class=user_block>{{ curUser}}</div>
{% if not current_user.is_authenticated() %}
 <a href="{{ url_for('login') }}">Log in</a>
{% else %}
 <a href="{{ url_for('logout') }}">Log out</a>
{% endif %}
 </div>
</div>

<div class=masthead>
 <center><img class=logo src="{{ url_for('static',
filename='guslogo.png')}}"></center>
 <br>
 <div class=lnav>
  <ul class=lnav_list>
   <li {% if request.path == "/" %} class=cur_page {% else %} class=nav_item {% endif %}> <a href="{{ url_for('explore') }}"> Explore </a></li>
   <li {% if request.path == "/build/where" or request.path == "/build/what"%} 
    class=cur_page {% else %} class=nav_item {% endif %}> <a href="{{ url_for('build') }}"> Build </a></li>
 </div>
 <div class=rnav>
  <ul class=rnav_list>
   <li {% if request.path == "/contact" %} class=cur_page {% else %} class=nav_item {% endif %}><a href="{{ url_for('contact') }}"> Contact </a></li>
   <li {% if request.path == "/about" %} class=cur_page {% else %} class=nav_item {% endif %}><a href="{{ url_for('about') }}"> About </a></li>
 </div>
</div>


{% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
{% endfor %}

<div class=pagecontainer>
  {% block body %}{% endblock %}
</div>

<div class=bnavwrapper>
 <div class=bnav>
  <div class=bnav_col>
    <ul class=bnav_list>
     <li class=bnav_header>General information</li>
     <ul class=bnav_list>
      <li class=bnav_item> About us</li>
     </ul>
    </ul>
  </div>
  <div class=bnav_col>
    <ul class=bnav_list>
     <li class=bnav_header>Security and privacy</li>
     <ul class=bnav_list>
      <li class=bnav_item> Terms of use</li>
     </ul>
    </ul>
  </div>
  <div class=bnav_col>
    <ul class=bnav_list>
     <li class=bnav_header>Shipping and returns</li>
     <ul class=bnav_list>
      <li class=bnav_item> Shipping fees</li>
     </ul>
    </ul>
  </div>
 </div>
</div>
