<!-- Render the bottom build panel -->
<div id="build-panel" class="bpanel">
  <div id="net-panel">
    <select id="network-select" class="main-select">
      <option value="none" selected="selected">Select Network</option>
    </select>
    <input type="button" 
      id="new-network-button" 
      class="bpanel-sect-title" 
      value="New" 
      style="display:inline">
    </input>
    <hr />
    <p>Name: 
    <input id="network-name" name="net-name" class="bpanel-field" type="text" size="15"></input></p>
    <p>Type: 
    <select id="network-type" class="bpanel-field">
    </select></p>
    <p>Phase:
    <select id="network-phase-type" class="bpanel-field">
    </select></p>

    <!--
    <dl>
      <dt><input type="radio" name="net-type" id="type-fun">Just For Fun</input></dt>
      <dt><input type="radio" name="net-type" id="type-planned">Planned</input></dt>
      <dt><input type="radio" name="net-type" id="type-inproc">Under Construction</input></dt>
      <dt><input type="radio" name="net-type" id="type-online">Online!</input></dt>
    </dl>a
    -->
    <div id="network-buttonset">
      <input type="button" id="polygon-mode-btn"  value="Polygon"></input>
      <input type="button" id="profile-mode-btn"  value="Profile"></input>
      <input type="button" id="commit-network"    value="COMMIT"></input>
    </div>
  </div>
  
  <div id="node-panel">

    <select id="node-select" class="main-select">
      <option value="none" selected="selected">Select Node</option>
    </select>
    <div id="node-buttonset">
      <input type="button" 
        id="new-node-button" 
        class="bpanel-sect-title" 
        value="New" 
        style="display:inline">
      </input>
      <input type="button"
        id="redrop-node-button"
        class="bpanel-sect-title"
        value="Redrop"
        style="display:inline">
      </input>
      <input type="button"
        id="connect-node-button"
        class="bpanel-sect-title"
        value="Connect"
        style="display:inline">
      </input>
    </div>

    <hr />

    <p>Name: <input id="node-name" name="node-name" class="bpanel-field-r" type="text"></input></p>
 
    
    <p>lat:<input type="text" id="node-lat" class="bpanel-field-r"></input></p>
    <p>lon:<input type="text" id="node-lon" class="bpanel-field-r"></input></p>
    <p>type:<select id="node-type" class="bpanel-field-r"></select></p>
    <p>polarization:<select id="polarization-type" class="bpanel-field-r"></select></p>
    <p>elevation:<input type="text" id="elevation-input" class="bpanel-field-r"></input></p>
    <p>azimuth:<input type="text" id="azimuth-input" class="bpanel-field-r" ></input></p>
      <!--
      <dt class="rlist">type:<input type="text" id="node-type" size="10" value="DROP DOWN"></input></dt>
      -->

    <!--
    <h2>About/Notes</h2>
    <textarea id="nodes-about" rows="2" cols="40"></textarea>
    -->

    <input type="button" id="commit-node" value="COMMIT"></input>
  </div>
<!--
  <div id="info-panel" class="bpanel-sect">
    <h2>Info</h2>
    <hr />
    <div id="info-panel-disp">
      To be updated with relevant info as the user mouses over different elements of the build panel.
    </div>
    <input type="button" id="help-mode" class="right-bottom-btn" value="HELP"></input>
  </div>
-->
</div>
<div id="toggle-bpanel-off" class="toggle-bpanel"><img class=tools_toggle_label height=15px src="{{ url_for('static',filename='tools_down.png')}}"></div>
<div id="toggle-bpanel-on" class="toggle-bpanel"><img class=tools_toggle_label height=15px src="{{ url_for('static',filename='tools_up.png')}}"></div>
