{% extends "base.html" %}
{% block body %}
  {% if current_user.is_authenticated() %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Name:
        <dd><input type=text size=30 name=name>
        <dt>Longitude:
        <dd><textarea name=lon size=30></textarea>
	<dt>Latitude:
	<dd><textarea name=lat size=30></textarea>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
   <div id="map-container" class="olMap"></div>
   <script type="text/javascript" src="{{ url_for('static',
filename='js/exploremap.js') }}" defer="defer"></script>
   <script type="text/javascript" src="{{ url_for('static',
filename='js/CustomLayers-2.12/OpenLayers.js') }}"></script>
  <ul class=nodes>
  {% for node in nodes %}
    <li><h2>{{ node.name }}</h2><li><h3>{{ node.lon }}</h3><li>{{ node.lat }}
  {% else %}
    <li><em>No nodes :-(</em>
  {% endfor %}
  </ul>
{% endblock %}
