{% extends "base.html" %}
{% block head %}

{% include "js/map_head.js" %}

{% endblock %}
  
{% block listeners %}

var node_insert = 0;
var current_device = 0;
  
var network_id; // Most insecure bullshit ever.... Will make more secure later....
$(".rpanel").hide(); // Hide the right panel on startup
$("#toggle-rpanel-off").hide(); // hide the div that is to minimize the rpanel
$(".lpanel").hide(); // Hide the left panel on startup
$("#toggle-lpanel-off").hide(); // Hide leftpanel toggle
   

$("#toggle-bpanel-on").hide();

{% include "js/rpanel_listeners.js" %}
{% include "js/lpanel_listeners.js" %}

{% if mode==2 %}
  {% include "js/bpanel_listeners.js" %}  
  {% include "js/wizard_listeners.js" %}
{% endif %}

{% endblock %}

{% block body %}

{% include "map.html" %}
{% include "rpanel.html" %}
{% include "lpanel.html" %}

{% if mode==2 %} 
  {% include "bpanel.html" %}
  {% include "network_wizard.html" %}
{% endif %}

{% endblock %}
