<div id="new-network-one" title="New Network">
  <p>
  First, you need to pick a name for your new network. Don't worry too much  about this as it can be changed at a later time. 
  </p>
  <div class="wizard-input">
    <h3 class="rlist">Name</h3>
    <input id="network-name-input" class="rlist" type="text" size=20></input>
  </div>
</div>

<div id="new-network-two" title="Add Coverage Polygon">
  <p>
  Now you need to draw a polygon that represents the area that the network   would theoretically cover as you imagine it now. Clicking on the map will  place a points which can be connected together to make a polygon. Try it   once to get the hang of it and click "Clear" if you mess up.
  </p>
  <textarea id="polygon-json-output"></textarea>
</div>
