{% extends "map.html" %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method="post" name="register">
        {{form.hidden_tag()}}
        <p>
            Desired Username:<br>
	    {{form.username(size=60)}}<br><br>
	    Password:<br>
	    {{form.password(size=60)}}<br><br>
	    Password Confirmation:<br>
	    {{form.password_conf(size=60)}}<br><br>
            Email:<br>
	    {{form.email(size=60)}}<br><br>
	    Name (Optional):<br>
	    {{form.name(size=60)}}<br><br>
	    City (Optional):<br>
	    {{form.city(size=60)}}<br><br>
	</p>
	<p><input type="submit" value="Register"></p>
    </form>
{% endblock %}  
