{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="{{ url_for('static',filename='js/wheremap.js') }}" defer="defer"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/CustomLayers-2.12/OpenLayers.js') }}"></script>
<script src="{{ url_for('static', filename='js/simple-slider.js')}}"> </script>
<link href="{{ url_for('static', filename='css/simple-slider.css') }}" rel="stylesheet" type="text/css" />


<script>
$(document).ready(function(){
  $(".slider-info").hide();

  $(".slider-item").hover(
    function()
    {
        $(this).css("border","1px solid #AACBE2");
    } ,
    function()
    {
        $(this).css("border","none");
    });

  $("#money-header").hover(
    function()
    {
        $("#money-info").show();
    } ,
    function()
    {
        $("#money-info").hide();
    });

  $("#hours-header").hover(
    function()
    {
        $("#hours-info").show();
    } ,
    function()
    {
        $("#hours-info").hide();
    });
 
  $("#moneyslide")
    .each(function () {
      var input = $(this);
      $("<span>")
        .addClass("output")
        .insertAfter($(this))
    })
    .bind("slider:ready slider:changed", function (event, data) {
      $(this)
        .nextAll(".output:first")
          .html("$"+Math.round(Math.pow(10, data.value.toFixed(3))));
    });

   $("#hoursslide")
    .each(function () {
      var input = $(this);
      $("<span>")
        .addClass("output")
        .insertAfter($(this))
    })
    .bind("slider:ready slider:changed", function (event, data) {
      $(this)
        .nextAll(".output:first")
          .html(Math.round(data.value.toFixed(3)) + " hours/week<br />");
    });
});

</script>
{% endblock %}

{% block body %}
<h2>What can you build?</h2>
<br />
<div id="map-container" class="olMap" style="width: 500px; height: 400px;"></div>

   <form action="{{ url_for('what_view') }}" method="post" name="whereform">
	   {{ form.hidden_tag() }}

 
   <div id="money-header" class="slider-item"> Money
   <input id="moneyslide" type="text" data-slider="true" data-slider-highlight="true" data-slider-range="0,4">      
   <div id="money-info" class="slider-info">How much money are you willing to contribute? The money will be used to purchase networking hardware.</div>
   </div>

   <div id="hours-header" class="slider-item"> Time
   <input id="hoursslide" type="text" data-slider="true" data-slider-highlight="true" data-slider-range="0,50" data-slider-step="1">
   <div id="hours-info" class="slider-info">How many hours are you willing to dedicate per week on average? Note: Zero hours is an option.</div>
   </div>

   <br />

   <input type="submit" value="Continue">
</div>

{% endblock %}
