{% extends "base.html" %}

{% block head %}

<script type="text/javascript" src="{{ url_for('static',filename='js/wheremap.js') }}" defer="defer"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/CustomLayers-2.12/OpenLayers.js') }}"></script>


<script>

$(document).ready(function(){
  $(".coords").hide();
  $("#addrForm").click(
   function() 
    {
       $(".coords").show();
       var coords = locate(this.form);
       $("#lat-output").append(coords[0]);
       $("#lon-output").append(coords[1]);
    });
});


function locate(form)
{
    var input_addr = form.addr.value;
    var trans_input;
    var loc_info;
    var lat,lon
    trans_input = input_addr.replace(/ /g,"+");
    loc_info = httpGet("http://maps.googleapis.com/maps/api/geocode/json?address=" + trans_input + "&sensor=true");
       
    eval("json_rep = "+loc_info);
    lat = json_rep.results[0].geometry.location.lat;
    lon = json_rep.results[0].geometry.location.lng;
    return [lat,lon];
}

function httpGet(theUrl)
{
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
</script>

{% endblock %}

{% block body %}
<center>
<h2>Where are you interested in building?</h2>
<br />

<FORM NAME="myform" ACTION="" METHOD="POST">
Address:<INPUT TYPE="text" NAME="addr" VALUE="" size=60></INPUT>
<INPUT id="addrForm" type="button" NAME="button" Value="Locate" ></INPUT>
</FORM>

<div id="map-container" class="olMap" style="width: 500px; height: 400px;"></div>
<p class="coords" id="lat-output">lat: </p>
<p class="coords" id="lon-output">lon: </p>
<form action="/build/what">
<input type="submit" value="Continue">
</form>
<center>

{% endblock %}
