{% extends "base.html" %}

{% block head %}

<script type="text/javascript" src="{{ url_for('static',filename='js/wheremap.js') }}" defer="defer"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/CustomLayers-2.12/OpenLayers.js') }}"></script>


<script>
$(document).ready(function(){
   inithides();

   // Locate address via text
   $("#addr-text-btn").click(
   function() 
    {
       $(".coords-display").show();
       //$("#addr-panel").hide();
       var coords = locate(this.form.addr.value);
       $("#lat-output").text("lat: " + coords[0]);
       $("#lon-output").text("lon: " + coords[1]);
	center = new OpenLayers.LonLat(coords[0],coords[1]);
	center.transform(from, to);
	map.setCenter(center, 16);
    });

   $("#addr-ip-btn").click(
   function()
	{
		controls.locator.deactivate();
		controls.locator.activate();
	});
    
    // Next phase

   $("#what-phase").click(
   function()
   {
      $("#what-title").show();
      $(".wherephase").hide();
      $(".whatphase").show();

   });

});

function inithides()
{
 $(".coords-display").hide();
 $("#what-title").hide();
 $(".whatphase").hide();
}

function locate(addr)
{
    var input_addr = addr;
    var trans_input;
    var loc_info;
    var lat,lon
    trans_input = input_addr.replace(/ /g,"+");
    loc_info = httpGet("http://maps.googleapis.com/maps/api/geocode/json?address=" + trans_input + "&sensor=true");
       
    eval("json_rep = "+loc_info);
    lat = json_rep.results[0].geometry.location.lat;
    lon = json_rep.results[0].geometry.location.lng;
    return [lon,lat];
}

function httpGet(theUrl)
{
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
</script>

{% endblock %}

{% block body %}

<div id="where-title" class="upper-display wherephase">
<h2>Phase 1. Where?</h2>
</div>

<div id="what-title" class="upper-display">
<h2>Phase 2. What?</h2>
</div>


<!-- Main map controller level includes map and side panel -->

<div class="map-controller">
<!-- Our container for the openlayers map -->
<div id="map-container" class="olMap" style="width:50%;"></div>

<!-- Panel In line with map which contains all the divs that can inhabit this place -->
<div  class="map-sidepanel-container">

<!-- Phase One sidepanel -->
<div class="wherephase map-sidepanel">

<div id="where-sidepanel-text" class="wherephase map-sidepanel-one">
Choose the general area where you want to build a Free Network. you can use the address field to jump to a specific location and we can even attempt to locate you via IP!<br />
</div>

<div id="where-sidepanel-form" class="wherephase map-sidepanel-two">
<form class="address ">
<input id="addr-text-input" name="addr" type="text" class="sidepanel-two-input" size=30"></input>
<input id="addr-text-btn" class = "sidepanel-two-input" type="button" value="Locate Address">
<input id="addr-ip-btn" class="sidepanel-two-input"  type="button" value="Locate by IP">
</form>
</div>

<div id="where-sidepanel-submit" class="wherephase map-sidepanel-three">
<input id="what-phase" class="sidepanel-two-input" type="button" value="Next Phase" >
</div>

</div> <!-- End Phase One Sidepanel -->

<!-- Phase Two Sidepanel -->

<div class="whatphase map-sidepanel">

<div id="what-sidepanel-text" class="whatphase map-sidepanel-one">

Place points on the map in order to create a polygon. This polygon represents the area you would like to cover. If you are only interested in placing a single node at a location, simply press "Next Phase".
</div>

<div id="where-sidepanel-form" class="whatphase map-sidepanel-two">
<br />
<img class="sidepanel-two-input" src="/static/guslogoava.jpg">
</div>

<div id="what-sidepanel-submit" class="whatphase map-sidepanel-three">
<input id="what-phase" class="sidepanel-two-input" type="button" value="Next Phase" >
</div>

</div> <!-- End Phase One Sidepanel -->


</div> <!-- End Sidepanel Container -->

</div>

<!-- Address Input Field -->

<div id="addr-panel" class="bottom-panel">
<div id="coords-display">
<h3>Debug Output</h3>
<p class="wherephase">IP Locate not yet functional</p>
<p class="wherephase">Map Zoom not yet functional</p>
<p class="coords-display wherephase" id="lat-output">lat: </p>
<p class="coords-display wherephase" id="lon-output">lon: </p>
<p class="whatphase"> This feature is not yet functional </p>
</div> <!-- end coords display -->
</div> <!--End addr-field -->
</div>

<!-- Just displays coordinates, probably only useful for debugging -->










{% endblock %}
